
<%= stylesheet_link_tag "color"%>

<h1 class="display-1 text-center">
  DIGITAL
  <small class="text-muted">DICE</small>
</h1>
<br>
<div class="d-flex justify-content-start">
<div class="card float-left" style="width: 18rem;">
 <%=image_tag 'game1',class:"card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">PLAY</h5>
    <p class="card-text">Can't find your dice? Don't worry, you can still play your favourite board games using Digital Dice. </p>
    <%=link_to "Dice", home_dice_path,class:"btn btn-primary" %>
  </div>
</div>
</div>
