/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
body {
    height: 100vh;
    background: linear-gradient(#2df7ba, #27c1cc) 0 100% no-repeat;
    background-size: 100% 50%;
}
#loader {
    width: 330px;
    height: 330px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 10px 30px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    display: -ms-grid;
    display: none;
    place-items: center;
}
#loader:after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border: 20px solid #c5c5c5;
    border-top-color: #e92e3d;
    border-radius: 50%;
    -webkit-animation: spin 1.5s;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#wrapper {
    width: 460px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
}
#container {
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
p {
    font-size: 16px;
    margin: 30px 0;
    font-weight: 600;
}
.button {
    background-color: #09a3b8;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.shake {
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}
.extra img {
    width: 1px;
    height: 1px;
    opacity: 0;
}
